.features-section-link {   
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
    column-gap: 30px;
    flex-wrap: nowrap;
}
    
    .features-section-icon {
        display: flex;
        width: 270px;
        min-height: 120px;
        justify-content: center;
        align-items: center;
        background: #F5F4FA;
        border-radius: 4px;
        border: #F5F4FA;
        margin-bottom: 30px;
    } 

.features-section-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 90px) / 4);
  }

  .navigation-social-icon {
    display: flex;
    fill: var(--brand-tekst-color);
    margin-right: 10px;
  }

  .social-icon {margin-right: 10px;}

  .features-list-box {
    min-width: 270px;
  }

.subject {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}
    
.text {
    line-height: 1.71;
    color: var(--brand-tekst-color);
}
