
.job {
    background: #F5F4FA;
}

.job-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 4);
}


.job-items {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.job-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.job-item-social-icon {
    fill: var(--brand-tekst-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.job-item-social-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.job-social-icon:hover,
.job-social-icon:focus {
    background-color: var(--brand-color);
}


.job-social-icon:hover .job-item-social-icon,
.job-social-icon:focus .job-item-social-icon {
    fill: var(--brand-color-three);
}

.jop-list-item {
    background-color: var(--brand-color-three);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}


.jop-list-item-box {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.job-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    
}

.job-titl {
    line-height: 1.71;
    color: var(--brand-tekst-color);
    margin-bottom: 16px;
}
